<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.css">

    <style>

    </style>
</head>
<body>
    <!-- <div class="contanier" style="border: 1px solid #000;">
        <div class="row">
            <div class="col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            
        </div>
    </div> -->

    <hr>

    <div class="contanier-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            <div class="col-md-3 col-xs-6">
                <img src="../imgs/example.jpg">
            </div>
            
        </div>
    </div>

</body>
</html>